.about_section_parent {
  width: 100%;
  height: auto;
  background:
    linear-gradient(to top, #ffe387a4, transparent),
    url("../../assets/about_section/bg4.webp");

  .about_section_cont {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    flex-direction: column;
    gap: calc(var(--unit) * 2);

    .abt_top_sec {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .ab_left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 60%;
          aspect-ratio: 0.8;
          border-radius: 50% 50% 25px 25px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50% 50% 25px 25px;
          }

          .round_image {
            width: 150px;
            aspect-ratio: 1;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: -10%;
            box-shadow: var(--shadow);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 70%;
              height: 70%;
              object-fit: contain;
            }
          }
        }
      }
      .ab_right {
        width: 50%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);

        h1 {
          font-size: 50px;
          max-width: 20ch;
          font-weight: 900;
          color: var(--accent);
        }
      }
    }

    .abt_bottom_sec {
      width: 100%;
      display: grid;
      gap: var(--unit);
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      // padding: 10px 0px;

      .abt_sec {
        width: auto;
        padding: 20px;
        height: auto;
        background-color: white;
        box-shadow: var(--shadow);
        border-radius: 14px;
        display: flex;
        align-items: center;
        gap: var(--unit);

        .left {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: var(--unit);

          h1 {
            position: relative;
            padding-bottom: 10px;
            color: var(--accent);

            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              top: 100%;
              left: 0;
              background: linear-gradient(to left, transparent, var(--accent));
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          gap: var(--unit);

          .icon {
            width: 80px;
            height: 82px;
            background-color: var(--accent);
            padding: 8px;
            border-radius: 8px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          h1 {
            font-size: 45px;
          }
        }
      }
    }
  }
}

.why_choose_parent {
  width: 100%;
  height: auto;
  background-image: url("../../assets/about_section/bg4.webp");
  padding: 80px 0px;
  .why_choose_cont {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 2);

    .wc_left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--unit) / 2);
      // padding: 50px 0px;

      h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--accent);
      }

      .accordian {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) / 2);
        margin-top: var(--unit);

        .accordian_item {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);

          .accordian_title {
            padding: 20px;
            background-color: var(--accent);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: var(--unit);
            cursor: pointer;

            h1 {
              color: white;
              font-size: 20px;
            }

            .count {
              font-size: 40px;
              font-family: "Poppins", sans-serif;

              color: #ffffff5d;
            }
          }

          .accordian_desc {
            padding: 20px;
            border: 1px solid var(--accent2);
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: var(--unit);
            border-radius: var(--unit);

            &.active {
              animation: wipingdesc 0.5s forwards linear;

              @keyframes wipingdesc {
                0% {
                  transform: translateY(40px);
                }
                100% {
                  transform: translateY(0px);
                }
              }
            }

            .left {
              width: 70%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: calc(var(--unit));

              h1 {
                font-size: 16px;
              }
            }

            .rg_image {
              width: 30%;
              height: auto;
              // aspect-ratio: 1;
              overflow: hidden;
              border-radius: calc(var(--unit) / 2);

              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    .wc_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      height: auto;
      // background-color: red;
      position: relative;
      // padding: 50px;

   

      .top_rg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        // height: 60%;

        .rg_tp_lg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;
          gap: var(--unit);
          height: 100%;

          .lg1 {
            aspect-ratio: 1;
            width: 100%;
            border-radius: var(--unit);
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              width: 80%;
            }
          }

          .lg2 {
            aspect-ratio: 1;
            width: 100%;
            background-image: url("../../assets/about_section/img5.webp");
            border-radius: var(--unit);
          }
        }

        .rp_tp_rg {
          width: 70%;
          height: 100%;
          background-image: url("../../assets/wc_section/img8.webp");
          border-radius: var(--unit);
        }
      }

      .bottom_rg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        gap: var(--unit);

        .bt_lg {
          width: 70%;
          height: 100%;
          background-image: url("../../assets/wc_section/img9.webp");
          border-radius: var(--unit);
        }

        .bt_rg {
          width: 30%;
          height: 100%;

          .inner {
            aspect-ratio: 1;
            width: 100%;
            background-image: url("../../assets/wc_section/img10.webp");
            border-radius: var(--unit);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about_section_parent {
    .about_section_cont {
      

      .abt_top_sec {
        flex-direction: column;
        .abt_top_sec {
          .ab_left {
            width: 100%;
          }

          .ab_right {
            width: 100%;
            padding: 20px;
          }
        }

        .abt_bottom_sec {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .why_choose_parent {
    .why_choose_cont {
      flex-direction: column;

      .wc_left {
        width: 100%;
      }

      .wc_right {
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .about_section_parent {
    .about_section_cont {
      .abt_top_sec {
        flex-direction: column;
        .ab_left {
          width: 100%;

          .image {
            .round_image {
              left: -30%;
            }
          }
        }
      }

      .abt_bottom_sec {
        .abt_sec {
          .left {
            h1 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .about_section_parent {
    .about_section_cont {
      flex-direction: column;

      .abt_bottom_sec {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
