.about_section_parent {
  width: 100%;
  height: auto;
  background:
    linear-gradient(to top, var(--background), transparent),
    url("../../assets/about_section/bg4.webp");

  h1 {
    font-size: 50px;
    max-width: 20ch;
    font-weight: 900;
    color: var(--accent);
  }

  .about_section_cont {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    flex-direction: column;
    gap: calc(var(--unit) * 2);

    .abt_top_sec {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .ab_left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 60%;
          aspect-ratio: 0.8;
          border-radius: 50% 50% 25px 25px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50% 50% 25px 25px;
          }

          .round_image {
            width: 150px;
            aspect-ratio: 1;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: -10%;
            box-shadow: var(--shadow);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 70%;
              height: 70%;
              object-fit: contain;
            }
          }
        }
      }

      .ab_right {
        width: 50%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);

        h1 {
          font-size: 50px;
          max-width: 20ch;
          font-weight: 900;
          color: var(--accent);
        }
      }
    }

    .abt_bottom_sec {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--unit);
      justify-content: center;
      align-items: center;

      .count_main {
        display: flex;
        gap: var(--unit);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .abt_sec {
          width: 300px;
          padding: 20px;
          height: auto;
          background-color: white;
          box-shadow: var(--shadow);
          border-radius: 14px;
          display: flex;
          align-items: center;
          gap: var(--unit);

          .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: var(--unit);

            .icon {
              width: 70px;
              height: 72px;
              background-color: var(--accent);
              padding: 8px;
              border-radius: 8px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: calc(var(--unit) / 2);

            h1 {
              font-size: 45px;
            }
            .service_name {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.why_choose_parent {
  width: 100%;
  height: auto;
  background-image: url("../../assets/about_section/bg4.webp");
  padding: 80px 0px;

  .why_choose_cont {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 2);

    .wc_left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--unit) / 2);
      // padding: 50px 0px;

      h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--accent);
      }

      .accordian {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) / 2);
        margin-top: var(--unit);

        .accordian_item {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);

          .accordian_title {
            padding: 20px;
            background-color: var(--accent);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: var(--unit);
            cursor: pointer;

            h1 {
              color: white;
              font-size: 20px;
            }

            .count {
              font-size: 40px;
              font-family: "Poppins", sans-serif;

              color: #ffffff5d;
            }
          }

          .accordian_desc {
            padding: 20px;
            border: 1px solid var(--accent2);
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: var(--unit);
            border-radius: var(--unit);

            &.active {
              animation: wipingdesc 0.5s forwards linear;

              @keyframes wipingdesc {
                0% {
                  transform: translateY(40px);
                }

                100% {
                  transform: translateY(0px);
                }
              }
            }

            .left {
              width: 70%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: calc(var(--unit));

              h1 {
                font-size: 16px;
              }
            }

            .rg_image {
              width: 30%;
              height: auto;
              // aspect-ratio: 1;
              overflow: hidden;
              border-radius: calc(var(--unit) / 2);

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    .wc_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      height: auto;
      // background-color: red;
      position: relative;
      // padding: 50px;

      .top_rg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        // height: 60%;

        .rg_tp_lg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;
          gap: var(--unit);
          height: 100%;

          .lg1 {
            aspect-ratio: 1;
            width: 100%;
            border-radius: var(--unit);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 80%;
            }
          }

          .lg2 {
            aspect-ratio: 1;
            width: 100%;
            background-image: url("../../assets/about_section/img5.webp");
            border-radius: var(--unit);
          }
        }

        .rp_tp_rg {
          width: 70%;
          height: 100%;
          background-image: url("../../assets/wc_section/img8.webp");
          border-radius: var(--unit);
        }
      }

      .bottom_rg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        gap: var(--unit);

        .bt_lg {
          width: 70%;
          height: 100%;
          background-image: url("../../assets/wc_section/img9.webp");
          border-radius: var(--unit);
        }

        .bt_rg {
          width: 30%;
          height: 100%;

          .inner {
            aspect-ratio: 1;
            width: 100%;
            background-image: url("../../assets/wc_section/img10.webp");
            border-radius: var(--unit);
          }
        }
      }
    }
  }
}

.blog_parent {
  width: 100%;
  height: auto;
  background-color: var(--background);
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/news/bg6.webp");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
  }

  .blog_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) * 2);
    padding: 80px 10px;
    position: relative;
    z-index: 1;

    .top_bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--accent);
      }
    }

    .blog_cards {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: stretch;
      gap: var(--unit);
      flex-wrap: wrap;
      flex: 1;

      .card {
        width: calc(100% / 3 - var(--unit));
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: var(--unit);
        padding: var(--unit);

        .image {
          width: 100%;
          height: 300px;
          background: url("../../assets/news/pic1.webp");
          border-radius: calc(var(--unit) / 2);
          padding: var(--unit);

          .date {
            padding: 4px 8px;
            background-color: var(--background);
            color: var(--accent);
            width: fit-content;
            border-radius: var(--unit);
          }
        }

        h1 {
          font-size: calc(var(-unit) + 5px);
          text-align: left;
        }

        P {
          font-size: 14px;
          text-align: left;
        }

        .arrow {
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(-45deg);
          color: var(--black);
          cursor: pointer;
          transition: var(--trans);

          &:hover {
            transform: rotate(0);
          }
        }
      }
    }
  }
}

.testimoneals_parent {
  padding: 40px 0px;
  background-color: white;

  .testimoneal_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit));

    .top_bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 50px;
        max-width: 20ch;
        font-weight: 900;
        color: var(--accent);
      }
    }

    .testimoneal_listing {
      width: 100%;

      .myswiper {
        width: 100%;
      }

      .swiper-wrapper {
        width: 100%;

        .swiper-slide {
          height: 300px;
          margin: 40px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--unit);

          .left {
            width: 40%;
            height: 100%;
            border-radius: calc(var(--unit) / 2);
            background-image: url("../../assets/testimoneal/img1.webp");
          }

          .right_content {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(var(--unit));
            padding: var(--unit);
            border: 1px solid var(--accent2);
            border-radius: calc(var(--unit) / 2);
          }
        }
      }
    }
  }
}

// ResultsSlider.scss

.before_after_gallery_parent {
  padding: 80px 0px;
  .before_after_gallery_cont {
    .results-section {
      padding: 40px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
          font-size: 50px;
          max-width: 20ch;
          font-weight: 900;
          color: var(--accent);
        }

        .nav-buttons {
          display: flex;
          gap: 10px;

          button {
            border: none;
            background: transparent;
            font-size: 30px;
            cursor: pointer;
            color: var(--accent);
            transition: 0.3s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .card {
        border-radius: 20px;
        overflow: hidden;

        .image-wrapper {
          position: relative;
          width: 100%;
          height: 300px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
          }

          .after {
            clip-path: inset(0 0 0 50%);
          }

          .divider {
            position: absolute;
            top: 0;
            left: 50%;
            width: 3px;
            height: 100%;
            background: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about_section_parent {
    .about_section_cont {
      .abt_top_sec {
        flex-direction: column;

        .ab_left {
          width: 100%;
        }

        .ab_right {
          width: 100%;
          padding: 20px;
          display: flex;

          h1 {
            font-size: 30px;
          }
        }

        .abt_bottom_sec {
          .abt_sec {
            width: 100%;
          }
        }
      }
    }
  }

  .why_choose_parent {
    .why_choose_cont {
      flex-direction: column;

      .wc_left {
        width: 100%;

        h1 {
          font-size: 30px;
        }
      }

      .wc_right {
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }

  .blog_parent {
    .blog_cont {
      .blog_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .about_section_parent {
    .about_section_cont {
      .abt_top_sec {
        flex-direction: column;

        .ab_left {
          width: 100%;

          .image {
            .round_image {
              left: -30%;
            }
          }
        }
      }

      .abt_bottom_sec {
        .count_main {
          .abt_sec {
            .left {
              h1 {
                font-size: 18px;
              }
            }

            .right {
              h1 {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }

  .blog_parent {
    .blog_cont {
      .blog_cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          width: 100%;
        }
      }
    }
  }

  .why_choose_parent {
    .why_choose_cont {
      .accordian {
        .accordian_item {
          .accordian_desc {
            flex-direction: column;

            .left {
              width: 100% !important;
            }

            .rg_image {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .blog_parent {
    .blog_cont {
      .top_bar {
        width: 100%;
        align-items: flex-start;
        gap: var(--unit);
        flex-direction: column;

        h1 {
          font-size: 30px;
        }

        .blog_heading {
          font-size: 30px;
        }
      }
    }
  }

  .testimoneals_parent {
    .testimoneal_cont {
      .top_bar {
        .testimoneal_heading {
          font-size: 30px;
        }
      }

      .testimoneal_listing {
        .swiper-wrapper {
          .swiper-slide {
            flex-direction: column;
            height: auto;

            .left {
              width: 100%;
              height: 200px;
            }

            .right_content {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .about_section_parent {
    .about_section_cont {
      flex-direction: column;

      .abt_bottom_sec {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media (max-width: 768px) {
  .before_after_gallery_parent {
    padding: 40px 0px;
    .before_after_gallery_cont {
      .results-section {
        .header {
          h1 {
            font-size: 30px;
          }
        }

        .card {
          width: 100%;

          .image-wrapper {
           


            .after {
              clip-path: inset(0 0 0 50%);
            }

            .divider {
             
            }
          }
        }
      }
    }
  }
}
