.header_new {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 14px;

  &.active {
    background-color: var(--accent);
    animation: wipeDown 0.3s ease-in-out forwards;

    @keyframes wipeDown {
      0% {
        top: -100%;
      }
      100% {
        top: 0;
      }
    }

    .header_inner {
  
      .main_nav {
        display: flex;
      }
    }
  }

  .header_inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .logo_link {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 120px;
      }
    }

    .main_nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(var(--unit) * 1.5);
      height: 100%;

      a {
        color: white;
        text-decoration: none;
        font-size: 14px;
      }

      .nav_item {
        position: relative;
        height: 100%;
        padding: 10px 0px;

        &.open {
          .dropdown_panel {
            display: flex;
          }
        }

        a {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);
          text-decoration: none;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .dropdown_panel {
          position: absolute;
          top: 120%;
          left: 0;
          display: none;
          justify-content: flex-start;
          align-items: flex-start;
          // gap: var(--unit);

          &.small {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: var(--unit);
            background-color: var(--accent);
            width: 250px;
            padding: 10px;
          }

          .dropdown_column {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: var(--unit);
            background-color: var(--accent);
            width: 350px;
            padding: 10px;
          }

          .submenu {
            display: none;
            background-color: var(--accent);
            padding: 10px;
            position: absolute;
            top: 0;
            left: 100%;

            width: 300px;

            &.open {
              display: flex;
            }

            .submenu_panel {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: var(--unit);
            }
          }
        }
      }
    }

    .header_actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);

      .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #ffd4d1;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;

        span {
          height: 4px;
          width: 30px;
          background-color: var(--accent);
        }

        .cross {
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .phone_link {
        color: white;
        text-decoration: none;
      }

      .book_btn {
        border: 1px solid white;
        padding: calc(var(--unit) - 5px) calc(var(--unit));
        border-radius: 25px;
        color: white;
        transition: var(--trans);
        text-decoration: none;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .mobile_header {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--accent);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: var(--unit);

    a {
      color: var(--white);
      text-decoration: none;
    }

    .nav_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--unit);
    }

    .dropdown_panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--unit);
      padding-bottom: 10px;
      border-bottom: 1px solid gray;

      a{
        font-size: 12px;
      }

      .submenu {
        display: flex;
        flex-direction: column;
        gap: var(--unit);

      

        .submenu_panel {
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit) / 2);
              margin-top: 10px;

            a{
          font-size: 10px;
        }
        }
      }

      .dropdown_column {
        display: flex;
        flex-direction: column;
        gap: var(--unit);
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .header_new {
    .mobile_header {
      display: flex;
    }
    .header_inner {
      .main_nav {
        display: none !important;
      }

      .header_actions {
        .hamburger {
          display: flex;
        }
        .phone_link {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .header_new {
    .header_inner {
          .logo_link{

        img{
          width: 110px;
        }
      }
      .header_actions {
        .book_btn {
          display: none;
        }
      }
    }
  }
}
