.hero_parent{
    width: 100%;
    height: 100svh;
    
    

    .grid_parent{
        width: 100%;
        height: 100%;
        background: url("../../assets/grid.png");
        opacity: 0.3;
        background-repeat: repeat;
        background-size: contain;
        background-position: center center;
        
    }


}