:root {
  --max-width: 1400px;
  --unit: 16px;
  --black: #000000;
  --white: #ffffff;
  --accent: #0B1F3B;
  --accent2 : #D4AF37;
  --background : #f3f9f9;
  --text:#626262;
  --trans: all 0.34s ease-in-out;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  overflow-x: hidden;
}

.parent {
  width: 100% !important;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
  }
}

h1,h2,h3,h4,h5{
   font-family: "Poppins", sans-serif;
   line-height: 110%;
}




p{
  font-size: 16px;
  letter-spacing: 0.7px;
  word-spacing: 1px;
  color: var(--text);
}


.bg-img-cover{
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; 
}

.bg-img-contain{
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}